header {
width:100%;
background-color: rgb(95, 95, 95);
text-align:center;
color:azure;
font-weight:bold;
font-size:150%;
padding:2rem 0rem;
}
header p{
    font-size:1rem;
    font-weight:lighter;
}
h1 {
    font-size:2rem;
}
h2 {
    font-size:1.1rem;
    margin: 1rem 0 0 0;
}
footer {
    margin:0;
    padding:2rem;
    background-color:rgb(95,95,95);
    color:azure;
    text-align:center;
}
footer a:link,
footer a:visited {
    color: azure;
    text-decoration: none;
}
footer a:hover {
    color: #d0eaff;
}
footer a:active {
    color: #bcdfff;
}
.container {
    font-size: 1.1rem;
    text-align:center;
    background-color: rgba(0,0,0,.9) ; /*rgba(28, 28, 28, 0.81);*/
    color: azure;
    margin:0;
    padding: 0.5rem;
}
.container a:link,
.container a:visited {
    color:azure;
    text-decoration:none;
    padding:0 3rem;
}
.container a:active,
.container a:hover {
    color:yellow;
    background-color: rgb(95, 95, 95);
    padding: 0.4rem 3rem;
}

#intro {
   border: 1px dotted grey;
   box-shadow:0 0 10px lightgrey;
   margin:2rem;
}
#options {
    width:90%;
    margin: 0 auto;
}
#pickle {
    position: relative;
    margin:2rem;
    padding:1rem;
    border:1px dotted lightgrey;
    box-shadow:0 0 10px lightgrey;
}
#rabbit {
    border:1px dotted lightgrey;
    box-shadow:0 0 10px lightgrey;
    margin:2rem;
    padding:1rem;
}
#hass {
    border:1px dotted lightgrey;
    box-shadow:0 0 10px lightgrey;
    margin:2rem;
    padding:1rem;
}
.rabbit {
    display:flex;
    align-items: stretch;
}
.flex {
    display: flex;
    align-items: stretch;
}
body {
    background-color: #f5f7fa;
    font-family:'Times New Roman', Times, serif;
    margin:0;
    padding:0;
}
figure {
    width:35%;
}   
.intro {
    border: 1px solid grey;
    padding: 1.5rem;
    margin: 1rem; /*  0rem 2rem 10px 1rem;*/
    width: 55%;
    background-color:rgba(240,255,255,.5);
}
.introimg {
    display:block;
    width: 100%;
    margin:0 0 10px 0;
    opacity: .9;
}
.introimg:hover {
    transform: scale(1.25) translateX(-20%);
    transition: transform 0.5s ease; 
    box-shadow: 0 0 100px rgb(0,0,0,.7);
    z-index: 1;
    opacity: 0.95;
}
.boxm {
    border: 2px solid black;
    padding:1rem;
    width: 30%;
    margin:5px;
}
.pickleimg {
    position: absolute;
    left: 65%;
    height: 150px;
    opacity: 0.65;
    z-index: 0;
    top: 5%;
}
.pickletxt {
    position:relative;
    z-index:1;
    background:transparent;
    padding:1rem;
    margin: 2rem;
}

.rabbitimg {   
    position:relative;
    transform: translateX(20%);
    width: 10%;
    padding:2rem;
}
.rabbittxt {
    padding: 2rem;
    margin: 0rem 2rem 10px 1rem;
    width: 70%;
}

.dashimg {
    position:absolute;
    left: 100%;
    top: 10%;
    width: 35%;
    opacity: 1;
    z-index: 0;
}
.dashimg:hover {
    box-shadow: 0 0 100px rgba(0,0,0,.6);
    transform:scale(2) translateX(-20%);
    transition:0.5s ease;
}
.hasstxt {
    position:relative;
    margin:2rem;
    padding:1rem;
    width: 65%;
}
.hassimg {
    width:66%;
}
.hassimg:hover {
    box-shadow: 0 0 100px rgba(0,0,0,.6);
    transform: scale(1.2) translateX(20%) translateY(-10%);
    transition: 0.8s ease;
}
main {
    /*margin:4rem;*/
    padding:0 12rem;
    z-index: -1;
}