header {
width:100%;
text-align:center;
font-weight:bold;
font-size:150%;
margin: 2rem 0rem 0rem 0rem;
}
#intro {
   border: 1px dotted grey;
}
#options {
    width:90%;
    margin: 0 auto;
}
#pickle {
    position: relative;
    margin:2rem;
}
#rabbit {
    display:flex;
    align-items: stretch;
}

.flex {
   display: flex;
    align-items: stretch;
}

body {
    background-color: hsla(183, 100%, 93%, 0.2);
    font-family:'Times New Roman', Times, serif;
}   
.intro {
    border: 1px solid black;
    padding: 1rem;
    margin: 0rem 2rem 10px 1rem;
    width: 55%;
    background-color:rgba(240,255,255,.5);
}
.introimg {
    width: 35%;
    margin:0 0 10px 0;
    opacity: 90%;
}
.boxs {
    border: 1px solid black;
}
.boxm {
    border: 2px solid black;
    padding:1rem;
    width: 30%;
    margin:5px;
}
.boxl {
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem;
}
.pickle {
  /* width:70%; 
   border: 1px dotted black;*/
}
.pickleimg {
    position: absolute;
    left: 60%;
    height: 150px;
    opacity: 0.7;
    z-index: -1;
    top: 5%; 
}
.rabbitimg {   
    position:relative;
    transform: translateX(20%);
    height: 200px;
}
.rabbittxt {
    /*border: 1px solid black;*/
    padding: 1rem;
    margin: 0rem 2rem 10px 1rem;
    width: 70%;
    background-color:rgba(240,255,255,.5);
}
.solution {
    margin: 2rem;
    width: 80%;
}